.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.border {
  background-color: yellow
}

.vert {
  height: 5%;
  width: 100%
}

.hori {
  height: 100%;
  width: 5%
}

.feld {
  vertical-align: middle;
  font-size: 600%;
  height: 30%;
  width: 100%;
  text-align: center
}